*.iml
.gradle
/local.properties
/.idea
/.kotlin
/.fleet
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
/kotlin-js-store
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
examples/typesafeApp/iosApp.xcodeproj/
